
.bgContent {
    background: #00000076;
    position: absolute;
    color: aliceblue;
    top: 210px;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    
}

.leftContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}