

.topcontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.bgContent {
    background: #00000076;
    
    color: aliceblue;
    display: flex;
    width: 100vw;
    height: max-content;
    justify-content: space-evenly;
    
}

.leftContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}